* {margin: 0; padding: 0;}

body {
	margin: 0px 50px 100px;
	background: #eee url(grid.png) repeat;
	color: #111;
	font-family: 'helvetica-neue', 'helvetica neue', helvetica, arial, sans-serif;
	}
	
h1 { 
	margin-top: 100px;
	padding: 0 0 10px; 
	color: #333;
	text-align: center; 
	letter-spacing: -1px; 
	font-size: 35px;
}

textarea#h1title {
	display: block;
    font-size: 35px;
    padding: 5px;
    margin: 100px auto 0;
    text-align: center;
    width: 600px;
    height: 45px;
    font-family: 'helvetica-neue','helvetica neue',helvetica,arial,sans-serif;
}

h3 { 
	padding-bottom: 40px; 
	color: #333; 
	text-align: center; 
	font-weight: 200;
	font-size: 18px;
}

h2.grouptitle {
	font-size:22px;
}
textarea.grouptitle {
	color: #666666;
    float: left;
	font-size:22px;
    font-weight: normal;
    height: 22px;
    padding: 5px;
    width: 75%;
}

a, a:visited {color: #4173ab;}
a:hover {background: #ccc;}

#gradient {display: none;}

#click_to_login {
	font-size: 12px;
	color: #555;
	cursor: pointer;
}

#login {
	position: absolute;
	top: 30px;
	display: none;
}

#login input {
	padding: 5px;
	margin: 2px 15px 2px 0;
	width: 100px;
}

#login input#submit {
	height: 30px;
	color: #333;
}

.projects {list-style: none; text-align: left;}
.projects li {margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #ccc}

.individual_project {
	padding: 11px;
}

.individual_project:hover {
	padding: 10px;
	border: 1px solid #666;
	background: #ccc;
}


p.title { 
	padding: 0 0 10px; 
	font-weight: 200;
	font-size: 19px; 
	width: 75%; 
	float: left;
}
textarea.title {    
	color: #666666;
    float: left;
    font-size: 16px;
    font-weight: normal;
    height: 15px;
    padding: 5px;
    width: 75%;
}

.extlink {float: right; text-align: right; padding-right: 30px; background: url(link.png) no-repeat right center; height: 20px;}
.notes { 
	padding: 10px 0; 
	color: #555;
	font-size: 12px;
}

textarea.notes {
	margin: 5px;
	color: #333;
	width: 500px;
	height: 200px;
	padding: 10px;
}




.status {
	width: 100%; 
	clear: both;
	height: 50px; 
	background: #ccc;
	border: 1px solid #b7b7b7}

.status span, .status textarea {
	display: block;
	padding: 14px; 
	height: 22px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	line-height: 22px; 
	}

#project_template {
	display: none;
}

.p0   {width:   1%; background: #ccc;}
.p10  {width:  10%; background: #b00000; }
.p20  {width:  20%; background: #b00000; }
.p30  {width:  30%; background: #b00000; }
.p40  {width:  40%; background: #d0d000; }
.p50  {width:  50%; background: #d0d000; }
.p60  {width:  60%; background: #d0d000; }
.p70  {width:  70%; background: #d0d000; }
.p80  {width:  80%; background: #008000; }
.p90  {width:  90%; background: #008000; }
.p100 {width:  97%; background: #00a000; }
	
#footer {
	width: 70%;
	margin: 20px auto;
	border-top: 1px solid #ddd;
	color: #888;
	text-align: center;
}
#footer #voltampmedia {
	float: left;
}

#footer #twitter {
	float: right;
}

#msg_container {
	position: fixed !important;
    position: absolute; /*ie6 */
	top: 10px;
	left: 50%;
	margin-left: -380px;
	z-index: 100000;
}

.message h5 {
	display: inline-block;
    width: 120px;
}

.message { 
	border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    margin: 10px auto;
    width: 760px;
    padding: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.info-msg {
	background: url(x_icon.png) no-repeat right 5px top 5px, linear-gradient(bottom, #E1F2FC 12%, #CAE9FD 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -o-linear-gradient(bottom, #E1F2FC 12%, #CAE9FD 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -moz-linear-gradient(bottom, #E1F2FC 12%, #CAE9FD 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -webkit-linear-gradient(bottom, #E1F2FC 12%, #CAE9FD 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -ms-linear-gradient(bottom, #E1F2FC 12%, #CAE9FD 81	%);

	background: url(x_icon.png) no-repeat right 5px top 5px,  -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, #E1F2FC),
		color-stop(0.8, #CAE9FD)
	);
    border: 1px solid #CADCEA;
    color: #225B86;
}
.error-msg {
	background: url(x_icon.png) no-repeat right 5px top 5px, linear-gradient(bottom, #FAE2E2 12%, #F2CACB 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -o-linear-gradient(bottom, #FAE2E2 12%, #F2CACB 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -moz-linear-gradient(bottom, #FAE2E2 12%, #F2CACB 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -webkit-linear-gradient(bottom, #FAE2E2 12%, #F2CACB 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -ms-linear-gradient(bottom, #FAE2E2 12%, #F2CACB 81	%);

	background: url(x_icon.png) no-repeat right 5px top 5px,  -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, #FAE2E2),
		color-stop(0.8, #F2CACB)
	);
    border: 1px solid #EEB7BA;
    color: #BE4741;
}
.success-msg {
	background: url(x_icon.png) no-repeat right 5px top 5px, linear-gradient(bottom, #E5EDC4 12%, #D9E4AC 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -o-linear-gradient(bottom, #E5EDC4 12%, #D9E4AC 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -moz-linear-gradient(bottom, #E5EDC4 12%, #D9E4AC 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -webkit-linear-gradient(bottom, #E5EDC4 12%, #D9E4AC 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -ms-linear-gradient(bottom, #E5EDC4 12%, #D9E4AC 81	%);

	background: url(x_icon.png) no-repeat right 5px top 5px,  -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, #E5EDC4),
		color-stop(0.8, #D9E4AC)
	);
    border: 1px solid #B8C97B;
    color: #3F7227;
}
.warning-msg {
	background: url(x_icon.png) no-repeat right 5px top 5px, linear-gradient(bottom, #F9EE9C 12%, #FFFFC0 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -o-linear-gradient(bottom, #F9EE9C 12%, #FFFFC0 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -moz-linear-gradient(bottom, #F9EE9C 12%, #FFFFC0 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -webkit-linear-gradient(bottom, #F9EE9C 12%, #FFFFC0 81%);
	background: url(x_icon.png) no-repeat right 5px top 5px, -ms-linear-gradient(bottom, #F9EE9C 12%, #FFFFC0 81	%);

	background: url(x_icon.png) no-repeat right 5px top 5px,  -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, #F9EE9C),
		color-stop(0.8, #FFFFC0)
	);
    border: 1px solid #E5DBAA;
    color: #6D7829;
}